# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# WebStorm / IntelliJ project files
.idea/
.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xmlgit
.idea/*.iml
*.iml
out/